.checkeado
{
    text-decoration:line-through;
    color: gray;
    
}
.centrar
{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    
}
.centrar p
{
    margin-bottom: 1px;
}
.centrar button
{
    margin-left:10px;
    padding-left:8.5px ;
    padding-right:8.5px;
    border-radius: 100px;
    border: 0;
}
.centrar button :hover
{
    background-color: antiquewhite;
}
.tarea
{
    margin-left: 0;

}